<!--The content below is only a placeholder and can be replaced.-->
<div>
<div class="row" style="text-align:center">

  <h1>
    <span style="color: whitesmoke;">
  <b>
      <span style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
          WELCOME TO {{ title }}!
      </span>
  </b>
  </span>
  </h1>
  
</div>
<br/>
<div class="row">
  <!--<h3>    <span style="float:right; color:gold; ">@Created By : Shubham Gaikwad 
    <br/> contact: shubhamg070@gmail.com / 8888493126--> 
    <!--</span>
  </h3>-->
</div>
<br/>
<br/>
<div class="row">

</div>
<div class="row">
<horoscopes></horoscopes>
</div>
</div>
